@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	height: 100%;
	font-family: sans-serif;
	width: 100vw;
}

.header-app {
	text-align: center;
	background-color: #5252b3;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 2em;
	padding-bottom: 2.5em;
}

header h1 {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 0.25em;
}

header h3 {
	font-size: 20px;
}

.search-bar {
	margin: auto;
	padding-bottom: 0.5em;
	padding-top: 1em;
}
.LinkList {
	background-color: #c8c8cd;
}

#search {
	margin: auto;
}

#search label {
	padding: 10px;
	margin-right: 8px;
}

#search input {
	border: 1px solid green;
	padding: 11px;
	margin-right: 10px;
	max-width: 550px;
	width: 450px;
	border-radius: 4px;
	box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}

.search-select {
	border: 1px solid green;
	padding: 10px;
	border-radius: 4px;
	margin: auto;
}

.sortByClicks {
	margin: auto;
	padding: 0.25em;
}

.sortByClicks label {
	padding: 10px;
	margin-right: 4px;
	margin-left: 8em;
}

.sort-select {
	border: 1px solid green;
	padding: 10px;
	border-radius: 4px;
	margin: auto;
}

.createLink {
	color: white;
	margin: auto;
	float: center;
}

.createLinkButton * {
	margin: auto;
	float: center;
}

.newLinkForm {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
}
.createLink {
	text-decoration: none;
}

.newLinkForm h3 {
	grid-row: 1;
	grid-column: 2 / 3;
	justify-self: center;
	align-self: center;
	padding-top: 2em;
}

.urlName {
	grid-row: 2;
	grid-column: 2;
	font-weight: bold;
}

.urlPrefix {
	grid-row: 3;
	grid-column: 1;
	margin-bottom: 1em;
	justify-self: end;
	align-self: center;
	padding: 7px;
}

.linkName {
	grid-row: 3;
	grid-column: 2;
	border: 1px solid green;
	margin-bottom: 1em;
	padding: 7px 11px;
}

.urlSuffix {
	grid-row: 3;
	grid-column: 3;
	padding: 7px;
}

.commentLabel {
	grid-row: 4;
	grid-column: 2;
	font-weight: bold;
}

.commentBox {
	grid-row: 5;
	grid-column: 2 / 3;
	padding: calc(0.75em - 1px);
	margin-bottom: 1em;
	border: 1px solid green;
}

.tagsLabel {
	grid-row: 6;
	grid-column: 2;
	font-weight: bold;
}

.tags {
	grid-row: 7;
	grid-column: 2 / 3;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid green;
}

.LinkList-head {
	background-color: #9999ab;
	font-family: monospace;
	color: white;
}

.buttonGroup {
	grid-row: 8;
	grid-column: 2;
	max-width: 1.5em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.submit {
	max-width: 1em;
	grid-row: 1;
	grid-column: 1;
}

.cancel {
	grid-row: 1;
	grid-column: 2;
	max-width: 1.5em;
}
